html {
  box-sizing: border-box;
}

body {
  background: whitesmoke;
}

.container h1 {
  text-align: center;
}

.form-body {
  background: white;
  margin: auto;
  padding: 15px 20px;
  border: 2px solid black;
  box-shadow: 3px 3px 3px lightgrey;
  max-width: 550px;
  font: 13px Arial, Helvetica, sans-serif;
}

.form-header {
  font-weight: bolder;
  font-style: italic;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  font-size: 16px;
  padding-bottom: 3px;
}

.form-style {
  margin: 10px auto;
  padding: 20px 12px 10px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.form-style label {
  padding: 0;
  display: block;
  margin: 0 0 3px 0;
  font-weight: bolder;
}

.form-style input,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.form-style input:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

.form-style .field-length {
  width: 100%;
}

.first-name-style {
  grid-column: span 2;
  grid-row: 1;
}

.last-name-style {
  grid-column: span 3;

  grid-row: 1;
}

.phone-number-style {
  grid-column: span 2;
  grid-row: 2;
}

.email-style {
  grid-column: span 4;
  grid-row: 3;
}

.position-style {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row: 4;
}

.other {
  grid-column: span 4;
  grid-row: 5;
}

.hidden {
  opacity: 0.25;
  position: relative;
  color: grey;
}

.salary-style {
  grid-column: 4;
  grid-row: 4;
}

.hidden:after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: " ";
}

.date-hired {
  grid-column: span 2;
  grid-row: 6;
}

.submit-btn {
  grid-column: 1;
  grid-row: 7;
}

.submit-btn input {
  background: #4b99ad;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}

.submit-btn input:hover {
  background: #426c77;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.form-style .required {
  color: red;
  padding-left: 3px;
}
