html {
  box-sizing: border-box;
}

body {
  background: ghostwhite;
}

.container h1 {
  text-align: center;
}

.form-body {
  background: white;
  margin: auto;
  height: 600px;
  padding: 15px 20px;
  border: 2px solid black;
  box-shadow: 3px 3px 3px lightgrey;
  max-width: 550px;
  font: 13px Arial, Helvetica, sans-serif;
}

.form-header {
  font-weight: bolder;
  font-style: italic;
  border-bottom: 2px solid #ddd;
  margin-bottom: 10px;
  font-size: 16px;
  padding-bottom: 3px;
}

.form-style {
  margin: 10px auto;
  padding: 20px 12px 10px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  row-gap: 10px;
}

.form-style label {
  padding: 0;
  display: block;
  margin: 0 0 3px 0;
  font-weight: bolder;
}

.form-style input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #bebebe;
  padding: 7px;
  margin: 0px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  outline: none;
}

.form-style input:focus {
  -moz-box-shadow: 0 0 8px #88d5e9;
  -webkit-box-shadow: 0 0 8px #88d5e9;
  box-shadow: 0 0 8px #88d5e9;
  border: 1px solid #88d5e9;
}

.form-style .field-length {
  width: 98%;
}

.first-name {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 1;
}

.last-name {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row: 1;
}

.number {
  grid-column-start: 1;
  grid-column-end: span 2;
  grid-row: 2;
}

.email {
  grid-column-start: 3;
  grid-column-end: span 4;
  grid-row: 2;
}

.form-style .required {
  color: red;
  padding-left: 3px;
}
